@page
@model asp.net_web_app.Pages.Index1Model
@{
        ViewData["Title"] = "Display";
}

<h1>Hello HTML</h1>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Display">Display</a>
        </li>
    </ul>
</div>